.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login img{
    
    width:500px;
}
.login > a{
    padding:20px;
    border-radius: 99px;
    
    color: white;
    font-style: bold;
    background-color : rgb(30,215,96) ;
    
    text-decoration: none;

}
